---
import ContactUs from '../components/ContactUs.astro'
import Layout from '../layouts/Layout.astro'
import ContactsBlock from '../components/ContactsBlock.astro'
---
<Layout title="Контакты">
	<main>
		<ContactsBlock />
		<ContactUs />
	</main>
</Layout>