---
import Layout from '../layouts/Layout.astro';
import ContactUs from "../components/ContactUs.astro";
import WorkAreas from "../components/WorkAreas.astro";
import About from "../components/About.astro";
import Hero from "../components/Hero.astro";
import ProductsBlock from '../components/ProductsBlock.astro'
---

<Layout title="Finframe">
	<main>
		<Hero/>
		<About/>
		<WorkAreas/>
		<ProductsBlock/>
		<ContactUs/>
	</main>
</Layout>

