<section>
    <div class="py-8 px-4 lg:py-16 lg:px-10 max-w-7xl mx-auto">
        <div>
            <div class="mb-8 lg:mb-16">
                <div class="w-fit rounded-xl bg-[#D6F2BD3D]">
                    <p class="text-[#60996A] px-[12px] py-[10px] lg:text-[20px]">О компании</p>
                </div>
            </div>


            <div class="lg:flex lg:justify-between lg:gap-[30px] md:w-full">
                <div class="mb-8 lg:max-w-[576px]">
                    <h2 class="text-[22px] leading-[30px] lg:text-[36px] lg:leading-[50px] mb-8 lg:mb-0">Осуществляем деятельность в области информационных технологий, <span class="text-[#60996A]">ведём разработку</span>, <span class="text-[#60996A]">доработку и сопровождение</span>, собственного и заказного <span class="text-[#60996A]">программного обеспечения</span></h2>
                </div>

                <div class="lg:max-w-[550px]">
                    <p class="text-[#53705D] lg:text-[20px] mb-4">Стек технологий</p>

                    <ul class="tech-stack">
                        <li class="tech-item"><span>ElasticSearch</span></li>
                        <li class="tech-item"><span>Kafka</span></li>
                        <li class="tech-item"><span>Linux</span></li>
                        <li class="tech-item"><span>Gitlab</span></li>
                        <li class="tech-item"><span>Python</span></li>
                        <li class="tech-item"><span>Postgres</span></li>
                        <li class="tech-item"><span>Oracle</span></li>
                        <li class="tech-item"><span>Redis</span></li>
                        <li class="tech-item"><span>Apache Spark / Hadoop / NiFi</span></li>
                        <li class="tech-item"><span>Atlassian (Jira, Confluence)</span></li>
                        <li class="tech-item"><span>Асинхронные фреймворки (Tornado и др.)</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .tech-stack {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        @apply lg:gap-[12px]
    }

    .tech-item {
        background-color: #F3F3F3;
        padding: 10px;
        border-radius: 16px;
        font-size: 14px;
        @apply lg:text-[20px]
    }
</style>