---
import Form from '../components/Form.astro'
---
<section class="bg-[#86D293]">
	<div class="py-8 px-4 lg:py-16 lg:px-10 max-w-7xl mx-auto">
		<div>
			<div id="contact-us" class="mb-8 lg:mb-16">
				<div class="w-fit rounded-xl bg-[#8BDA98]">
					<p class="text-white px-[12px] py-[10px] lg:text-[20px]">Контакты</p>
				</div>
			</div>


			<div class="sm:flex sm:justify-between sm:gap-[30px] md:w-full">
				<div class="text-white mb-8">
					<h2
						class="text-[32px] leading-[35.2px] lg:text-[72px] lg:leading-[79.2px] md:text-[50px] md:leading-[56px] mb-4 lg:mb-10">
						Связаться <br /> с нами</h2>
					<div class="lg:max-w-[576px] lg:text-[20px] font-[300]">
						<p class="mb-4 leading-6 lg:leading-[30px]">Мы всегда открыты к сотрудничеству, а также
							постоянно ищем новых коллег в команду.</p>
						<p class="leading-6 lg:leading-[30px]">Для вопросов по использованию системы, демо показам,
							ценам пишите нам</p>
					</div>
				</div>

				<div class="flex-grow">
					<Form />
				</div>
			</div>
		</div>
	</div>
</section>
