<footer class="bg-[#ECFFEE]">
	<div class="py-8 px-4 lg:py-16 lg:px-10 md:flex md:justify-between max-w-7xl mx-auto">
		<svg class="mb-6 md:order-2 md:hidden md:flex-shrink-0" width="132" height="24" fill="none"
				 xmlns="http://www.w3.org/2000/svg">
			<path fill-rule="evenodd" clip-rule="evenodd"
						d="M4 0 0 4v20h42.3051V0H4ZM1.74428 21.1525V6.72053l4-4H15.36v4.37369H6.45642v3.35838H13.798v4.3216H6.45642v6.3783H1.74428Zm14.77222 0V2.72053h4.7121V21.1525h-4.7121ZM23.687 2.72053V21.1525h4.7121V10.765l7.9143 10.3875h4.2696V2.72053h-4.7121V13.2643L28.0867 2.72053H23.687Z"
						fill="#86D293" />
			<path
				d="M44.3389 21.1527V2.7207h13.6157v4.3737H49.051v3.3584h7.3416v4.3216H49.051v6.3783h-4.7121ZM59.1111 21.1527V2.7207h7.7841c.8331 0 1.6835.0781 2.5513.23431.8678.1562 1.6749.45125 2.4212.88515.7463.41654 1.3451 1.024 1.7963 1.82237.4513.79838.6769 1.83973.6769 3.12407 0 .79837-.1215 1.5534-.3645 2.2649-.243.6943-.6335 1.3104-1.1715 1.8485-.5207.538-1.2149.9719-2.0827 1.3017l4.2696 6.951h-5.363l-3.5406-6.2221h-2.265v6.2221h-4.7121Zm4.7121-10.3615h3.098c.4513 0 .8418-.0434 1.1716-.1302.3471-.0867.6335-.2082.8591-.3644.243-.1736.4252-.38186.5467-.62485.1215-.24298.1822-.52935.1822-.85912 0-.48596-.1215-.85044-.3644-1.09342-.243-.24298-.5641-.40786-.9633-.49464-.3992-.08678-.8504-.13017-1.3538-.13017h-3.1761v3.6968Z"
				fill="#282828" />
			<path
				d="m74.6783 21.1527 7.3937-18.432h4.7902l7.3155 18.432h-5.0766l-.9112-2.6034h-7.5238l-.9372 2.6034h-5.0506Zm7.4718-6.8469h4.5559l-2.2389-6.32625-2.317 6.32625ZM94.7572 21.1527V2.7207h5.9618l4.504 8.0705 4.478-8.0705h5.727v18.432h-4.712V9.41141l-4.66 8.09659h-1.849l-4.7377-8.09659V21.1527h-4.7121ZM117.868 21.1527V2.7207h13.902v4.3737h-9.19v2.81166h7.576v4.16544h-7.576v2.7335h9.19v4.3477h-13.902Z"
				fill="#282828" />
		</svg>

		<div class="space-y-6 text-[#282828]">
			<div class="md:flex md:justify-between md:items-center">
				<a href="/contacts" class="font-medium md:text-2xl">Контактная информация</a>
				<svg class="md:order-2 hidden md:block md:flex-shrink-0" width="132" height="24" fill="none"
						 xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd"
								d="M4 0 0 4v20h42.3051V0H4ZM1.74428 21.1525V6.72053l4-4H15.36v4.37369H6.45642v3.35838H13.798v4.3216H6.45642v6.3783H1.74428Zm14.77222 0V2.72053h4.7121V21.1525h-4.7121ZM23.687 2.72053V21.1525h4.7121V10.765l7.9143 10.3875h4.2696V2.72053h-4.7121V13.2643L28.0867 2.72053H23.687Z"
								fill="#86D293" />
					<path
						d="M44.3389 21.1527V2.7207h13.6157v4.3737H49.051v3.3584h7.3416v4.3216H49.051v6.3783h-4.7121ZM59.1111 21.1527V2.7207h7.7841c.8331 0 1.6835.0781 2.5513.23431.8678.1562 1.6749.45125 2.4212.88515.7463.41654 1.3451 1.024 1.7963 1.82237.4513.79838.6769 1.83973.6769 3.12407 0 .79837-.1215 1.5534-.3645 2.2649-.243.6943-.6335 1.3104-1.1715 1.8485-.5207.538-1.2149.9719-2.0827 1.3017l4.2696 6.951h-5.363l-3.5406-6.2221h-2.265v6.2221h-4.7121Zm4.7121-10.3615h3.098c.4513 0 .8418-.0434 1.1716-.1302.3471-.0867.6335-.2082.8591-.3644.243-.1736.4252-.38186.5467-.62485.1215-.24298.1822-.52935.1822-.85912 0-.48596-.1215-.85044-.3644-1.09342-.243-.24298-.5641-.40786-.9633-.49464-.3992-.08678-.8504-.13017-1.3538-.13017h-3.1761v3.6968Z"
						fill="#282828" />
					<path
						d="m74.6783 21.1527 7.3937-18.432h4.7902l7.3155 18.432h-5.0766l-.9112-2.6034h-7.5238l-.9372 2.6034h-5.0506Zm7.4718-6.8469h4.5559l-2.2389-6.32625-2.317 6.32625ZM94.7572 21.1527V2.7207h5.9618l4.504 8.0705 4.478-8.0705h5.727v18.432h-4.712V9.41141l-4.66 8.09659h-1.849l-4.7377-8.09659V21.1527h-4.7121ZM117.868 21.1527V2.7207h13.902v4.3737h-9.19v2.81166h7.576v4.16544h-7.576v2.7335h9.19v4.3477h-13.902Z"
						fill="#282828" />
				</svg>
			</div>


			<div class="text-[#53705D] md:flex md:flex-row md:gap-3 text-sm">
				<div class="w-full bg-[#E3FAE6] p-4 rounded-t-[20px] md:rounded-[20px]">
					<p class="mb-4">Общество с ограниченной ответственностью «ФИНФРЕЙМ» — ООО «ФИНФРЕЙМ»</p>

					<p>ОГРН: 1247700446476 <br />ИНН: 9731136613 <br />КПП: 773101001</p>
				</div>

				<div class="w-full bg-[#E3FAE6] px-4 pb-4 md:pt-4 rounded-b-[20px] md:rounded-[20px]">
					<div class="flex flex-col">
						<a href="tel:+79250324686" class="mb-4">+7 925 032 46 86</a>
						<a href="mailto:ooofinframe@yandex.ru" class="mb-4">ooofinframe@yandex.ru</a>
					</div>


					<p>Юридический адрес: 121596, г. Москва, внутриг.муниципальный округ Можайский, ул. Горбунова, д. 2, стр. 3,
						помещение 5/4</p>
				</div>

			</div>

			<div class="border-t pt-6 border-[#94D697] border-opacity-40">
				<p class="text-[14px] text-[##1D2126] opacity-50">© 2024 <br /> ООО «ФИНФРЕЙМ». Все права защищены. <br /> <a
					href="/docs/privacy-policy.pdf">Политика обработки
					персональных данных</a></p>
			</div>
		</div>
	</div>
</footer>