<script>
	const button = document.getElementById('submitButton');
	const toast = document.getElementById('success-form');

	button.addEventListener('click', submitForm)

	function submitForm(event) {
		event.preventDefault();
		toast.classList.remove('invisible')
		toast.classList.add('show')

		setTimeout(() => {
			toast.classList.remove('show')
			toast.classList.add('invisible')
		}, 5000)
	}
</script>


<form class="flex flex-col sm:min-w-[400px] gap-6 bg-white p-4 lg:p-6 rounded-[1.25rem]">
	<label>
		<span class="mb-1.5">Ваше имя</span>
		<input type="text" name="name" required autocomplete="name" />
		<span class="mt-1.5 text-red-500 hidden">Error</span>
	</label>

	<label>
		<span class="mb-1.5">Email</span>
		<input type="text" name="email" required autocomplete="email" />
		<span class="mt-1.5 text-red-500 hidden">Error</span>
	</label>

	<label>
		<span class="mb-1.5">Ваше предложение</span>
		<textarea class="resize-none" name="comment" rows="5"></textarea>
	</label>

	<button id="submitButton" class="gap-2 w-fit rounded-[2rem]" type="submit">Отправить<span
		class="flex justify-center items-center bg-white size-8 rounded-full"><svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M4.6 6 0 1.4 1.4 0l6 6-6 6L0 10.6 4.6 6Z" fill="#386340" />
</svg></span></button>
</form>

<style>
    label {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        @apply lg:text-[1rem]
    }

    input, textarea {
        border: 2px solid #06A17233;
        border-radius: 24px;
        min-height: 4rem;
        outline: none;
        padding: 10px 24px;
        @apply text-[16px] lg:text-[20px]
    }

    label > input:focus,
    label > textarea:focus {
        border: 2px solid #282828;
    }

    button {
        background-color: #386340;
        color: #ffffff;
        display: flex;
        align-items: center;
        padding: 10px 12px 10px 16px;
        margin-left: auto;
        @apply lg:text-[1rem]
    }
</style>