<section class="bg-[#86D293] min-h-[574px] lg:min-h-[700px] flex overflow-hidden">
	<div class="py-8 px-4 lg:py-8 lg:px-10 max-w-7xl mx-auto flex flex-col justify-between w-full">
		<div>
			<div class="mb-10 lg:mb-16">
				<svg width="132" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd"
								d="M4 0 0 4v20h42.3051V0H4ZM1.74428 21.1525V6.72053l4-4H15.36v4.37369H6.45642v3.35838H13.798v4.3216H6.45642v6.3783H1.74428Zm14.77222 0V2.72053h4.7121V21.1525h-4.7121ZM23.687 2.72053V21.1525h4.7121V10.765l7.9143 10.3875h4.2696V2.72053h-4.7121V13.2643L28.0867 2.72053H23.687Z"
								fill="#386340" />
					<path
						d="M44.3389 21.1526V2.72058h13.6157v4.3737H49.051v3.35832h7.3416v4.3217H49.051v6.3783h-4.7121ZM59.1111 21.1526V2.72058h7.7841c.8331 0 1.6835.0781 2.5513.2343.8678.15621 1.6749.45126 2.4212.88516.7463.41654 1.3451 1.024 1.7963 1.82237.4513.79837.6769 1.83973.6769 3.12407 0 .79837-.1215 1.55332-.3645 2.26492-.243.6943-.6335 1.3104-1.1715 1.8484-.5207.5381-1.2149.972-2.0827 1.3017l4.2696 6.9511h-5.363l-3.5406-6.2221h-2.265v6.2221h-4.7121Zm4.7121-10.3615h3.098c.4513 0 .8418-.0434 1.1716-.1302.3471-.0868.6335-.2083.8591-.3645.243-.1735.4252-.38179.5467-.62477.1215-.24298.1822-.52935.1822-.85912 0-.48596-.1215-.85044-.3644-1.09342-.243-.24298-.5641-.40787-.9633-.49465-.3992-.08677-.8504-.13016-1.3538-.13016h-3.1761v3.69682Z"
						fill="#fff" />
					<path
						d="M74.6783 21.1526 82.072 2.72058h4.7902l7.3155 18.43202h-5.0766l-.9112-2.6034h-7.5238l-.9372 2.6034h-5.0506Zm7.4718-6.8469h4.5559l-2.2389-6.32627-2.317 6.32627ZM94.7572 21.1526V2.72058h5.9618l4.504 8.07052 4.478-8.07052h5.727V21.1526h-4.712V9.41129l-4.66 8.09651h-1.849l-4.7377-8.09651V21.1526h-4.7121ZM117.868 21.1526V2.72058h13.902v4.3737h-9.19v2.81166h7.576v4.16546h-7.576v2.7335h9.19v4.3477h-13.902Z"
						fill="#fff" />
				</svg>
			</div>

			<div class="relative">
				<h1
					class="z-50 text-[32px] leading-[35px] sm:text-[50px] sm:leading-[56px] xl:text-[72px] xl:leading-[79px] mb-8 lg:mb-0 max-w-[335px] sm:max-w-[500px] xl:max-w-[750px] text-white">
					Программные решения для банков
					<nobr>и процессинговых</nobr>
					компаний
				</h1>


				<img
					class="absolute min-w-[1400px] lg:min-w-[1700px] pointer-events-none -top-[270px] -right-[670px] min-[756px]:-top-[450px] min-[856px]:-right-[580px] lg:-top-[250%] lg:-right-[700px] xl:-top-[170%]"
					src="/img/hero-image.png" alt="Shield">


			</div>
		</div>
		<div class="mt-auto z-40">
			<a href="#contact-us" class="z-40 gap-2 w-fit rounded-[2rem]" type="submit">
				Получить консультацию
				<span class="flex justify-center items-center bg-white size-8 rounded-full">
                    <svg class="rotate-90" width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.6 6 0 1.4 1.4 0l6 6-6 6L0 10.6 4.6 6Z" fill="#386340" />
                    </svg>
                </span>
			</a>
		</div>
	</div>
</section>


<style>
    a {
        background-color: #386340;
        color: #ffffff;
        display: flex;
        align-items: center;
				justify-content: center;
        padding: 10px 12px 10px 16px;
        @apply lg:text-[1rem];
    }
</style>
