<section class="bg-[#E9FFEC]">
	<div class="py-8 px-4 lg:pt-8 lg:pb-16 lg:px-10 max-w-7xl mx-auto">
		<div class="mb-8 lg:mb-16">
			<a href="/">
				<svg class="mb-6 md:order-2" width="132" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd"
								d="M4 0 0 4v20h42.3051V0H4ZM1.74428 21.1525V6.72053l4-4H15.36v4.37369H6.45642v3.35838H13.798v4.3216H6.45642v6.3783H1.74428Zm14.77222 0V2.72053h4.7121V21.1525h-4.7121ZM23.687 2.72053V21.1525h4.7121V10.765l7.9143 10.3875h4.2696V2.72053h-4.7121V13.2643L28.0867 2.72053H23.687Z"
								fill="#86D293"/>
					<path d="M44.3389 21.1527V2.7207h13.6157v4.3737H49.051v3.3584h7.3416v4.3216H49.051v6.3783h-4.7121ZM59.1111 21.1527V2.7207h7.7841c.8331 0 1.6835.0781 2.5513.23431.8678.1562 1.6749.45125 2.4212.88515.7463.41654 1.3451 1.024 1.7963 1.82237.4513.79838.6769 1.83973.6769 3.12407 0 .79837-.1215 1.5534-.3645 2.2649-.243.6943-.6335 1.3104-1.1715 1.8485-.5207.538-1.2149.9719-2.0827 1.3017l4.2696 6.951h-5.363l-3.5406-6.2221h-2.265v6.2221h-4.7121Zm4.7121-10.3615h3.098c.4513 0 .8418-.0434 1.1716-.1302.3471-.0867.6335-.2082.8591-.3644.243-.1736.4252-.38186.5467-.62485.1215-.24298.1822-.52935.1822-.85912 0-.48596-.1215-.85044-.3644-1.09342-.243-.24298-.5641-.40786-.9633-.49464-.3992-.08678-.8504-.13017-1.3538-.13017h-3.1761v3.6968Z"
								fill="#282828"/>
					<path d="m74.6783 21.1527 7.3937-18.432h4.7902l7.3155 18.432h-5.0766l-.9112-2.6034h-7.5238l-.9372 2.6034h-5.0506Zm7.4718-6.8469h4.5559l-2.2389-6.32625-2.317 6.32625ZM94.7572 21.1527V2.7207h5.9618l4.504 8.0705 4.478-8.0705h5.727v18.432h-4.712V9.41141l-4.66 8.09659h-1.849l-4.7377-8.09659V21.1527h-4.7121ZM117.868 21.1527V2.7207h13.902v4.3737h-9.19v2.81166h7.576v4.16544h-7.576v2.7335h9.19v4.3477h-13.902Z"
								fill="#282828"/>
				</svg>
			</a>

		</div>

		<div class="mb-16 lg:mb-[120px]">
			<div class="flex justify-between">
				<div class="flex-col">
					<div class="w-fit rounded-xl bg-[#D6F2BD3D] mb-4">
						<p class="p-3 lg:text-[20px] text-[#60996A]">ПО</p>
					</div>
					<h2 class="text-[32px] leading-[35px] lg:text-[72px] lg:leading-[79px] mb-8">Процессинг</h2>
				</div>
				<div><img class="md:w-20 md:h-20 lg:w-40 lg:h-40 hidden md:block" src="/svg/processing-icon.svg" alt="processing icon"></div>
			</div>
			<p class="text-[#53705D] text-[16px] leading-[24px] lg:text-[20px] lg:leading-8 sm:max-w-[576px]">Программный продукт предназначен для технологического обеспечения процессов оказания платежных услуг платежными организациями, банками и процессинговыми центрами</p>
		</div>

		<div class="sm:flex sm:gap-10 mb-10 lg:mb-[64px]">
			<div class="flex flex-col gap-4 text-[22px] lg:text-4xl md:min-w-[220px] lg:min-w-[510px] xl:min-w-[576px]">
				<p>Режим функционирования</p>
			</div>

			<div class="pt-8 sm:pt-0 text-[#53705D] lg:text-[20px] lg:leading-[30px] grow w-full">
				<p class="mb-4">В основном режиме функционирования Программный продукт обеспечивает:</p>
				<ul class="flex flex-col list-disc pl-6">
					<li>беспрерывную работу в режиме – 24 часа в день, 7 дней в неделю (24х7);</li>
					<li>выполнение всех функций в полном объеме, за исключением периодов проведения профилактических и других работ, а также устранения возникших нештатных ситуаций</li>
				</ul>
			</div>
		</div>

		<div class="sm:flex sm:gap-10">
			<div class="flex flex-col gap-4 text-[22px] lg:text-4xl md:w-[220px] md:min-w-[220px] lg:w-[510px] lg:min-w-[510px] xl:min-w-[576px]">
				<p>Назначение и описание функциональности</p>
			</div>

			<div class="pt-8 sm:pt-0 text-[#53705D] lg:text-[20px] lg:leading-[30px]">
				<ol class="list-decimal px-4 space-y-[60px]">
					<li>
						<span>Обработка финансовых операций в рамках эмиссии банковских карт, включая:</span>
						<ul class="list-disc ml-6 space-y-1">
							<li>Обработку онлайн запросов на выполнение финансовых операций</li>
							<li>Отправку финансовых операций партнерам</li>
							<li>Обработку запросов на клиринг</li>
						</ul>
					</li>
					<li>
						<span>Обработка операций в рамках эквайринга для выполнения платежей с использованием банковских карт, банковских счетов, электронных кошельков, включая:</span>
						<ul class="list-disc ml-6 space-y-1">
							<li>Одностадийные и двухстадийные платежи</li>
							<li>Отмена и возврат платежа</li>
							<li>Платежи по связкам</li>
							<li>Обработку платежей через платежные приложения</li>
							<li>Обработку 3ds (поддержка 3ds 2.0) платежей</li>
							<li>Переводы (со счета на карту, по свободным реквизитам, перевод с карты на счет)</li>
						</ul>
					</li>
					<li>
						<span>Проверка финансовой транзакции на предмет мошеннических действий в рамках приема платежей по банковским картам и в рамках эмиссии банковских карт</span>
					</li>
					<li>
						<span>Хранение информации о конкретном терминале, мерчанте, типе карты, банке-эмитенте, хранение информации о связи карты и клиента</span>
					</li>
					<li>
						<span>Пользовательский интерфейс для управления справочниками и некритичными настройками сервисов, просмотра логов запросов к сервисам, включая:</span>
						<ul class="list-disc ml-6 space-y-1">
							<li>Отображение и группировку категорий системы управления</li>
							<li>Выполнение авторизации пользователя</li>
							<li>Предоставление интерфейса для управления правами доступа</li>
							<li>Настройку взаимодействия с внешними системами интерфейсов</li>
						</ul>
					</li>
					<li class="list-none relative pl-3">
						<svg class="absolute -left-5 top-0 mt-0.5 ml-0.5 lg:mt-1" width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M9 15h2V9H9v6Zm1-8c.2833 0 .5208-.09583.7125-.2875C10.9042 6.52083 11 6.28333 11 6s-.0958-.52083-.2875-.7125C10.5208 5.09583 10.2833 5 10 5c-.28333 0-.52083.09583-.7125.2875C9.09583 5.47917 9 5.71667 9 6s.09583.52083.2875.7125C9.47917 6.90417 9.71667 7 10 7Zm0 13c-1.38333 0-2.68333-.2625-3.9-.7875-1.21667-.525-2.275-1.2375-3.175-2.1375-.9-.9-1.6125-1.9583-2.1375-3.175C.2625 12.6833 0 11.3833 0 10c0-1.38333.2625-2.68333.7875-3.9.525-1.21667 1.2375-2.275 2.1375-3.175.9-.9 1.95833-1.6125 3.175-2.1375C7.31667.2625 8.61667 0 10 0c1.3833 0 2.6833.2625 3.9.7875 1.2167.525 2.275 1.2375 3.175 2.1375.9.9 1.6125 1.95833 2.1375 3.175C19.7375 7.31667 20 8.61667 20 10c0 1.3833-.2625 2.6833-.7875 3.9-.525 1.2167-1.2375 2.275-2.1375 3.175-.9.9-1.9583 1.6125-3.175 2.1375-1.2167.525-2.5167.7875-3.9.7875Z" fill="#87D293"/>
						</svg>
							Программный продукт находится в стадии разработки, информация о готовности, а также подробное описание его функциональных характеристик будут опубликованы позднее
					</li>
				</ol>
			</div>
		</div>


	</div>
</section>


<style>
    .card {
        background-color: #fff;
        padding: 1rem;
        border-radius: 0.65rem;
    }

    .card-title {
        @apply lg:text-[24px] lg:mb-8
    }

    .card-subtitle {
        @apply lg:max-w-[380px] lg:leading-[21px]
    }

    svg {
        margin-bottom: 1rem;
    }
</style>