<section class="bg-[#C1E2A4]">
	<div class="py-8 px-4 lg:py-16 lg:px-10 max-w-7xl mx-auto">
		<div class="mb-8 lg:mb-16">
			<div class="w-fit rounded-xl bg-[#D6F2BD]">
				<p class="px-[12px] py-[10px] lg:text-[20px] text-[#60996A]">Направления</p>
			</div>
		</div>


		<div class="lg:flex lg:items-center lg:gap-32">
			<div class="mb-8 lg:mb-16 md:max-w-[576px]">
				<h2 class="text-[22px] leading-[30.8px] lg:text-[36px] lg:leading-[50px] text-[#282828] mb-4 lg:mb-10">
					Компания имеет в штате
					<nobr>ИТ-специалистов</nobr>
					различного профиля, которые реализуют любые, самые амбициозные пожелания заказчика
				</h2>
				<p class="mb-4 leading-6 lg:text-[20px] lg:leading-[30px] lg:font-[300] text-[#53705D]">Для решения
					задач мы формируем гибкие профильные команды из
					необходимого количества разработчиков, аналитиков, архитекторов, QA, DevOps, имеющих высокую
					квалификацию и огромный опыт в создании сложных информационных систем для финансового рынка.</p>
				<p class="leading-6 lg:text-[20px] lg:leading-[30px] lg:font-[300] text-[#53705D]">Мы любим и умеем
					добиваться результата, создавая передовые решения</p>
			</div>

			<img class="hidden md:flex-shrink-0 lg:block w-3/12 lg:w-4/12 max-h-[620px]"
					 src="src/assets/images/contact-image.png" alt="Cloud with wires"></img>
		</div>

		<div class="grid sm:grid-cols-2 gap-[0.75rem]">
			<div class="card">
				<svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M18.8397 2.28564h-5.6786c-.9647 0-1.7321.76801-1.7321 1.7335v5.68319c0 .96547.7674 1.73347 1.7321 1.73347h5.6786c.9647 0 1.7321-.768 1.7321-1.73347V4.01914c0-.96549-.7893-1.7335-1.7321-1.7335ZM13.1611 29.7143h5.6786c.9647 0 1.7321-.768 1.7321-1.7335v-5.6832c0-.9655-.7674-1.7335-1.7321-1.7335h-5.6786c-.9647 0-1.7321.768-1.7321 1.7335v5.6832c0 .9435.7893 1.7335 1.7321 1.7335ZM20.5718 13.1475v5.6832c0 .9655.7674 1.7335 1.7322 1.7335h5.6786c.9647 0 1.7321-.768 1.7321-1.7335v-5.6832c0-.9655-.7674-1.7335-1.7321-1.7335H22.304c-.9648 0-1.7322.7899-1.7322 1.7335ZM2.28613 13.1475v5.6832c0 .9655.76739 1.7335 1.73211 1.7335h5.67865c.96471 0 1.73211-.768 1.73211-1.7335v-5.6832c0-.9655-.7674-1.7335-1.73211-1.7335H4.01824c-.94279 0-1.73211.7899-1.73211 1.7335Z"
						fill="#386340" />
				</svg>

				<p class="card-title mb-6 text-[18px] leading-5">Разработка программ</p>

				<p class="card-subtitle text-[14px] text-[#53705D]">Разрабатываем программы и сервисы в сфере банковских
					и финансовых услуг, обеспечения
					информационно-технологического взаимодействия участников расчетов, обработки данных, автоматизации
					рутинных процессов</p>
			</div>

			<div class="card">
				<svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M22.1798 26.6666H9.82803c-1.51756 0-2.74698-1.2186-2.74698-2.7228 0-1.5043 1.22942-2.7229 2.74698-2.7229H22.1798c1.5176 0 2.747 1.2186 2.747 2.7229 0 1.5042-1.2294 2.7228-2.747 2.7228ZM25.2729 21.3543c-.9412 0-1.8633-.495-2.3819-1.3519L16.7247 9.41584c-.7492-1.29476-.3074-2.97034.9989-3.71293 1.3062-.74258 2.9967-.30465 3.7458.99012l6.1663 10.58657c.7492 1.2948.3074 2.9704-.9989 3.713-.4418.2475-.9028.3617-1.3639.3617ZM6.73564 21.3542c-.46103 0-.94127-.1142-1.36388-.3617-1.30625-.7426-1.76729-2.4182-.9989-3.713L10.5391 6.69294c.7492-1.29476 2.4397-1.75174 3.7459-.99011 1.3063.74259 1.7673 2.41816.9989 3.71293L9.11763 20.0024c-.49945.8568-1.42151 1.3518-2.38199 1.3518Z"
						fill="#386340" />
				</svg>

				<p class="card-title mb-6 text-[18px] leading-5">Сопровождение программ и тех. поддержка</p>

				<p class="card-subtitle text-[14px] text-[#53705D]">Стабильная работа IT-продуктов 24/7. Обеспечиваем
					стабильную работу IT-систем и решаем задачи любого уровня сложности — от аудита и мониторинга до
					повышения отказоустойчивости и проектирования инфраструктуры</p>
			</div>

			<div class="card">
				<svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M13.5482 1.349C7.23731 2.24049 2.24022 7.21406 1.37218 13.5249c-.14076 1.0557.68036 1.9941 1.75954 1.9941H13.8063c.9853 0 1.7595-.7977 1.7595-1.7595V3.08506c-.0235-1.05571-.9619-1.87682-2.0176-1.73606ZM1.34875 18.4514c.8915 6.3108 5.86514 11.3078 12.17605 12.1759 1.0557.1407 1.9941-.6804 1.9941-1.7595V18.1934c0-.9854-.7976-1.7596-1.7595-1.7596H3.08484c-1.05572.0235-1.87685.9619-1.73609 2.0176ZM18.4512 30.6509c6.3109-.8914 11.308-5.865 12.176-12.1758.1408-1.0557-.6803-1.9941-1.7595-1.9941H18.1931c-.9853 0-1.7595.7976-1.7595 1.7595v10.6744c.0235 1.0557.9619 1.8768 2.0176 1.736ZM16.457 3.10858V13.783c0 .9853.7977 1.7595 1.7596 1.7595h10.6745c1.0557 0 1.9003-.9384 1.7596-1.9941-.8915-6.31082-5.8652-11.30784-12.1761-12.17587-1.0792-.16422-2.0176.65688-2.0176 1.73605Z"
						fill="#386340" />
				</svg>
				<p class="card-title mb-6 text-[18px] leading-5">Тестирование и обеспечение качества</p>

				<p class="card-subtitle text-[14px] text-[#53705D]">Полный цикл услуг по тестированию и обеспечению
					качества программных продуктов</p>
			</div>

			<div class="card">
				<svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M12.067 5.73629c.8476 0 1.5348-.68714 1.5348-1.53477s-.6872-1.53477-1.5348-1.53477c-.8476 0-1.5348.68714-1.5348 1.53477s.6872 1.53477 1.5348 1.53477ZM15.9899 5.73629c.8476 0 1.5347-.68714 1.5347-1.53477s-.6871-1.53477-1.5347-1.53477c-.8477 0-1.5348.68714-1.5348 1.53477s.6871 1.53477 1.5348 1.53477ZM19.9332 5.73629c.8476 0 1.5348-.68714 1.5348-1.53477s-.6872-1.53477-1.5348-1.53477c-.8476 0-1.5348.68714-1.5348 1.53477s.6872 1.53477 1.5348 1.53477ZM12.067 9.6799c.8476 0 1.5348-.68714 1.5348-1.53478 0-.84763-.6872-1.53477-1.5348-1.53477-.8476 0-1.5348.68714-1.5348 1.53477 0 .84764.6872 1.53478 1.5348 1.53478ZM8.14512 9.6799c.84763 0 1.53478-.68714 1.53478-1.53478 0-.84763-.68715-1.53477-1.53478-1.53477s-1.53477.68714-1.53477 1.53477c0 .84764.68714 1.53478 1.53477 1.53478ZM15.9899 9.6799c.8476 0 1.5347-.68714 1.5347-1.53478 0-.84763-.6871-1.53477-1.5347-1.53477-.8477 0-1.5348.68714-1.5348 1.53477 0 .84764.6871 1.53478 1.5348 1.53478ZM19.9332 9.6799c.8476 0 1.5348-.68714 1.5348-1.53478 0-.84763-.6872-1.53477-1.5348-1.53477-.8476 0-1.5348.68714-1.5348 1.53477 0 .84764.6872 1.53478 1.5348 1.53478ZM23.8551 9.6799c.8476 0 1.5348-.68714 1.5348-1.53478 0-.84763-.6872-1.53477-1.5348-1.53477-.8477 0-1.5348.68714-1.5348 1.53477 0 .84764.6871 1.53478 1.5348 1.53478ZM19.9332 29.3335c.8476 0 1.5348-.6872 1.5348-1.5348 0-.8476-.6872-1.5348-1.5348-1.5348-.8476 0-1.5348.6872-1.5348 1.5348 0 .8476.6872 1.5348 1.5348 1.5348ZM15.9899 29.3335c.8476 0 1.5347-.6872 1.5347-1.5348 0-.8476-.6871-1.5348-1.5347-1.5348-.8477 0-1.5348.6872-1.5348 1.5348 0 .8476.6871 1.5348 1.5348 1.5348ZM12.067 29.3335c.8476 0 1.5348-.6872 1.5348-1.5348 0-.8476-.6872-1.5348-1.5348-1.5348-.8476 0-1.5348.6872-1.5348 1.5348 0 .8476.6872 1.5348 1.5348 1.5348ZM19.9332 25.3899c.8476 0 1.5348-.6872 1.5348-1.5348 0-.8476-.6872-1.5348-1.5348-1.5348-.8476 0-1.5348.6872-1.5348 1.5348 0 .8476.6872 1.5348 1.5348 1.5348ZM23.8551 25.3899c.8476 0 1.5348-.6872 1.5348-1.5348 0-.8476-.6872-1.5348-1.5348-1.5348-.8477 0-1.5348.6872-1.5348 1.5348 0 .8476.6871 1.5348 1.5348 1.5348ZM15.9899 25.3899c.8476 0 1.5347-.6872 1.5347-1.5348 0-.8476-.6871-1.5348-1.5347-1.5348-.8477 0-1.5348.6872-1.5348 1.5348 0 .8476.6871 1.5348 1.5348 1.5348ZM12.067 25.3899c.8476 0 1.5348-.6872 1.5348-1.5348 0-.8476-.6872-1.5348-1.5348-1.5348-.8476 0-1.5348.6872-1.5348 1.5348 0 .8476.6872 1.5348 1.5348 1.5348ZM8.14512 25.3899c.84763 0 1.53478-.6872 1.53478-1.5348 0-.8476-.68715-1.5348-1.53478-1.5348s-1.53477.6872-1.53477 1.5348c0 .8476.68714 1.5348 1.53477 1.5348ZM12.067 13.602c.8476 0 1.5348-.6871 1.5348-1.5348 0-.8476-.6872-1.5347-1.5348-1.5347-.8476 0-1.5348.6871-1.5348 1.5347 0 .8477.6872 1.5348 1.5348 1.5348ZM8.14512 13.602c.84763 0 1.53478-.6871 1.53478-1.5348 0-.8476-.68715-1.5347-1.53478-1.5347s-1.53477.6871-1.53477 1.5347c0 .8477.68714 1.5348 1.53477 1.5348ZM4.20176 13.602c.84763 0 1.53478-.6871 1.53478-1.5348 0-.8476-.68715-1.5347-1.53478-1.5347s-1.53477.6871-1.53477 1.5347c0 .8477.68714 1.5348 1.53477 1.5348ZM15.9899 13.602c.8476 0 1.5347-.6871 1.5347-1.5348 0-.8476-.6871-1.5347-1.5347-1.5347-.8477 0-1.5348.6871-1.5348 1.5347 0 .8477.6871 1.5348 1.5348 1.5348ZM19.9332 13.602c.8476 0 1.5348-.6871 1.5348-1.5348 0-.8476-.6872-1.5347-1.5348-1.5347-.8476 0-1.5348.6871-1.5348 1.5347 0 .8477.6872 1.5348 1.5348 1.5348ZM23.8551 13.602c.8476 0 1.5348-.6871 1.5348-1.5348 0-.8476-.6872-1.5347-1.5348-1.5347-.8477 0-1.5348.6871-1.5348 1.5347 0 .8477.6871 1.5348 1.5348 1.5348ZM27.7984 13.602c.8477 0 1.5348-.6871 1.5348-1.5348 0-.8476-.6871-1.5347-1.5348-1.5347-.8476 0-1.5347.6871-1.5347 1.5347 0 .8477.6871 1.5348 1.5347 1.5348ZM12.067 17.5241c.8476 0 1.5348-.6871 1.5348-1.5347 0-.8477-.6872-1.5348-1.5348-1.5348-.8476 0-1.5348.6871-1.5348 1.5348 0 .8476.6872 1.5347 1.5348 1.5347ZM8.14512 17.5241c.84763 0 1.53478-.6871 1.53478-1.5347 0-.8477-.68715-1.5348-1.53478-1.5348s-1.53477.6871-1.53477 1.5348c0 .8476.68714 1.5347 1.53477 1.5347ZM4.20176 17.5241c.84763 0 1.53478-.6871 1.53478-1.5347 0-.8477-.68715-1.5348-1.53478-1.5348s-1.53477.6871-1.53477 1.5348c0 .8476.68714 1.5347 1.53477 1.5347ZM15.9899 17.5241c.8476 0 1.5347-.6871 1.5347-1.5347 0-.8477-.6871-1.5348-1.5347-1.5348-.8477 0-1.5348.6871-1.5348 1.5348 0 .8476.6871 1.5347 1.5348 1.5347ZM19.9332 17.5241c.8476 0 1.5348-.6871 1.5348-1.5347 0-.8477-.6872-1.5348-1.5348-1.5348-.8476 0-1.5348.6871-1.5348 1.5348 0 .8476.6872 1.5347 1.5348 1.5347ZM23.8551 17.5241c.8476 0 1.5348-.6871 1.5348-1.5347 0-.8477-.6872-1.5348-1.5348-1.5348-.8477 0-1.5348.6871-1.5348 1.5348 0 .8476.6871 1.5347 1.5348 1.5347ZM27.7984 17.5241c.8477 0 1.5348-.6871 1.5348-1.5347 0-.8477-.6871-1.5348-1.5348-1.5348-.8476 0-1.5347.6871-1.5347 1.5348 0 .8476.6871 1.5347 1.5347 1.5347ZM12.067 21.4677c.8476 0 1.5348-.6871 1.5348-1.5347 0-.8477-.6872-1.5348-1.5348-1.5348-.8476 0-1.5348.6871-1.5348 1.5348 0 .8476.6872 1.5347 1.5348 1.5347ZM8.14512 21.4677c.84763 0 1.53478-.6871 1.53478-1.5347 0-.8477-.68715-1.5348-1.53478-1.5348s-1.53477.6871-1.53477 1.5348c0 .8476.68714 1.5347 1.53477 1.5347ZM4.20176 21.4677c.84763 0 1.53478-.6871 1.53478-1.5347 0-.8477-.68715-1.5348-1.53478-1.5348s-1.53477.6871-1.53477 1.5348c0 .8476.68714 1.5347 1.53477 1.5347ZM15.9899 21.4677c.8476 0 1.5347-.6871 1.5347-1.5347 0-.8477-.6871-1.5348-1.5347-1.5348-.8477 0-1.5348.6871-1.5348 1.5348 0 .8476.6871 1.5347 1.5348 1.5347ZM19.9332 21.4677c.8476 0 1.5348-.6871 1.5348-1.5347 0-.8477-.6872-1.5348-1.5348-1.5348-.8476 0-1.5348.6871-1.5348 1.5348 0 .8476.6872 1.5347 1.5348 1.5347ZM23.8551 21.4677c.8476 0 1.5348-.6871 1.5348-1.5347 0-.8477-.6872-1.5348-1.5348-1.5348-.8477 0-1.5348.6871-1.5348 1.5348 0 .8476.6871 1.5347 1.5348 1.5347ZM27.7984 21.4677c.8477 0 1.5348-.6871 1.5348-1.5347 0-.8477-.6871-1.5348-1.5348-1.5348-.8476 0-1.5347.6871-1.5347 1.5348 0 .8476.6871 1.5347 1.5347 1.5347Z"
						fill="#386340" />
				</svg>

				<p class="card-title mb-6 text-[18px] leading-5">Внедрение программ</p>

				<p class="card-subtitle text-[14px] text-[#53705D]">Проводим установку, осуществляем мониторинг,
					доработку и обучение по работе с программным продуктом</p>
			</div>
		</div>
	</div>
</section>


<style>
    .card {
        background-color: #fff;
        padding: 1rem;
        border-radius: 0.65rem;
    }

    .card-title {
        @apply lg:text-[24px] lg:mb-8
    }

    .card-subtitle {
        @apply lg:max-w-[380px] lg:leading-[21px]
    }

    svg {
        margin-bottom: 1rem;
    }
</style>