---
import Layout from '../../layouts/Layout.astro'
import ContactUs from '../../components/ContactUs.astro'
import GrapeBoxHero from '../../components/GrapeBoxHero.astro'
---

<Layout title="Grape box 1.0">
	<main>
		<GrapeBoxHero />
		<ContactUs />
	</main>
</Layout>
