---
import Layout from '../../layouts/Layout.astro'
import ContactUs from '../../components/ContactUs.astro'
import ProductHero from '../../components/ProductHero.astro'
---
<Layout title="Процессинг">
	<main>
		<ProductHero />
		<ContactUs />
	</main>
</Layout>